.light {
  background-image:  url(./images/bg-mobile-light.jpg);
}
@media (min-width:512px) {
  .light {
      background-image:  url(./images/bg-desktop-light.jpg);
  }
}

.dark {
  background-image:  url(./images/bg-mobile-dark.jpg);
}
@media (min-width:512px) {
  .dark {
      background-image:  url(./images/bg-desktop-dark.jpg);
  }
}